/*this is all tbd as fuck*/

#intro {
	color: black;
	font-family: 'Hind', sans-serif;
	font-size: 30px;
	line-height: 45px;
	letter-spacing: .01em;
	max-width: 80%;
}

#menu li {
	color: black;
	font-family: 'Robato', sans-serif;
}

#h2 {
	color: black;
	font-family: 'Robato', sans-serif;
}

#footer-title {
	color: black;
	font-family: 'Robato', sans-serif;
}

#footer-copy {
	color: black;
	font-family: 'Robato', sans-serif;
}

