/*this is all tbd as fuck*/

#intro {
	color: black;
	font-family: 'Hind', sans-serif;
	font-size: 30px;
	line-height: 45px;
	letter-spacing: .01em;
	max-width: 80%;
}

#menu {
	color: black;
	font-family: 'Robato', sans-serif;
}

h3 {
	color: black;
	font-family: 'Robato', sans-serif;
}




