/*this is all tbd as fuck*/

#intro {
	color: red;
	font-family: 'Hind', sans-serif;
	font-size: 30px;
	line-height: 45px;
	letter-spacing: .01em;
	max-width: 100%;
}

#portfolio {
	color: black;
	font-size: 15px;
	font-family: 'Robato', sans-serif;
}

#image_scroll {
	float: right;
	Height: 250px;
	width: 300px;
}

#h2 {
	color: black;
	font-size: 22px;
	font-family: 'Hind', sans-serif;
}

#footer_title {
	color: black;
	font-family: 'Robato', sans-serif;
}

#footer_copy {
	color: black;
	font-family: 'Robato', sans-serif;
}



