/*this is all tbd as fuck*/

#intro {
	color: red;
	font-family: 'Hind', sans-serif;
	font-size: 30px;
	line-height: 45px;
	letter-spacing: .01em;
	max-width: 100%;
}

li.test {
	color: red;
	font-size: 50px;
	font-family: 'Robato', sans-serif;
}

#h2 {
	color: black;
	font-family: 'Robato', sans-serif;
}

#footer-title {
	color: black;
	font-family: 'Robato', sans-serif;
}

#footer-copy {
	color: black;
	font-family: 'Robato', sans-serif;
}

#image_scroll div {
	float: right;
	Height: 250px;
	width: 300px;
}

